body {
  padding: 10px;
  font-family: sans-serif;
  background-color:black;
  color: white;
}

.container {
    display: flex;
    justify-content: left;
}

.section {
    width: 20%;
}

.notice-section {
    width: 80%;
}

.notice-board-title {
    display: flex;
    width: 15%;
    justify-content: space-between;
}

.clickable {
    cursor: pointer;
    margin-left:0;
}

.details {
    border-style: solid;
    width: 95%;
    //margin-left: 1%;
    margin-top: 15px;
}

.kobold-name {
    display: inline-block;
    margin: 10px;
    padding: 5px;
}

.noticeboard {
    border-style: solid;
    display: inline-block;
    width: 90%;
}

.notice {
    display: flex;
    width: 100%;
}

.notice-text {
    margin: 5px;
}

.kobold-list {
    display: inline-block;
}
.noticeboard-dismiss {
    display: inline-block;
    margin: 5px;
}